# node
node_modules
.next

# env
.env
.env.local

# mac / ide
.DS_Store
.idea

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build / output
dist
build

# zip / 압축파일
*.zip
*.tar
*.gz
*.rar
*.7z

# 기타
coverage